In [2]:
import pandas as pd
import numpy as np

In [13]:
data = (10,3)
data = np.zeros((10,3))

In [15]:
d = pd.DataFrame(data, columns=['f1','f2','target'])

In [23]:
d['target'][5:9]=1

In [24]:
d

    f1   f2  target
0  0.0  0.0     0.0
1  0.0  0.0     0.0
2  0.0  0.0     0.0
3  0.0  0.0     0.0
4  0.0  0.0     0.0
5  0.0  0.0     1.0
6  0.0  0.0     1.0
7  0.0  0.0     1.0
8  0.0  0.0     1.0
9  0.0  0.0     0.0

In [25]:
from sklearn import datasets

In [26]:
iris = datasets.load_iris()

In [38]:
pd.DataFrame([iris.data,iris.target])

                                                   0
0  [[5.1, 3.5, 1.4, 0.2], [4.9, 3.0, 1.4, 0.2], [...
1  [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...